<h1>Products</h1>
<div class="card">
    <div class="card-head">Product 1</div>
    <div class="card-body">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic incidunt ipsa rem quos laboriosam esse asperiores at vel quod nemo, facere quibusdam quasi architecto culpa quo perferendis? Molestias, expedita.
    </div>
</div>
<div class="card">
    <div class="card-head">Product 2</div>
    <div class="card-body">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic incidunt ipsa rem quos laboriosam esse asperiores at vel quod nemo, facere quibusdam quasi architecto culpa quo perferendis? Molestias, expedita.
    </div>
</div>
